<%- header %>
    <h1>Create new post</h1>
    <form method="post" action="/create">
        <p><input type="text" placeholder="Title" name="title"></p>
        <p><textarea type="text" placeholder="Contents" name="content"></textarea></p>
        <p><input type="submit" value="Add post"> or <a href="/">Cancel</a></p>
    </form>
<%- footer %>